@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="chimera"] {
    --base: hsl(60, 5%, 96%);
    --base-focus: hsl(60, 5%, 80%);
    --base-2: hsl(60, 5%, 92%);
    --base-2-focus: hsl(60, 5%, 88%);
    --base-content: hsl(60, 5%, 8%);
    --base-content-2: hsl(60, 5%, 19%);
    --base-content-3: hsl(60, 5%, 41%);
    --overlay: hsl(60, 5%, 89%);
    --overlay-focus: hsl(60, 5%, 71%);
    --overlay-2: hsl(60, 5%, 82%);
    --overlay-2-focus: hsl(60, 5%, 71%);
    --overlay-content: hsl(60, 5%, 8%);
    --overlay-content-2: hsl(60, 5%, 19%);
    --overlay-content-3: hsl(60, 5%, 30%);
    --line: hsl(60, 5%, 87.2%);
    --line-focus: hsl(60, 5%, 72.2%);
    --input: hsl(60, 5%, 99.3%);
    --input-focus: hsl(60, 5%, 99.3%);
    --input-content: hsl(60, 5%, 14.3%);
    --input-content-2: hsl(60, 5%, 36.3%);
    --primary: hsl(41, 100%, 51%);
    --primary-focus: hsl(41, 100%, 45.5%);
    --primary-subtle: hsl(41, 100%, 78.5%);
    --primary-content: hsl(41, 100%, 0%);
    --primary-subtle-content: hsl(41, 100%, 0%);
    --secondary: hsl(200, 97%, 41%);
    --secondary-focus: hsl(200, 97%, 35.5%);
    --secondary-subtle: hsl(200, 97%, 68.5%);
    --secondary-subtle-content: hsl(200, 97%, 0%);
    --secondary-content: hsl(200, 97%, 100%);
    --info: hsl(212, 50%, 40%);
    --info-focus: hsl(212, 50%, 34.5%);
    --info-subtle: hsl(212, 50%, 67.5%);
    --info-subtle-content: hsl(212, 50%, 0%);
    --info-content: hsl(212, 50%, 100%);
    --danger: hsl(0, 75%, 42%);
    --danger-focus: hsl(0, 75%, 36.5%);
    --danger-subtle: hsl(0, 75%, 69.5%);
    --danger-subtle-content: hsl(0, 75%, 0%);
    --danger-content: hsl(0, 75%, 100%);
    --success: hsl(159, 61%, 41%);
    --success-focus: hsl(159, 61%, 35.5%);
    --success-subtle: hsl(159, 61%, 16%);
    --success-subtle-content: hsl(159, 61%, 100%);
    --success-content: hsl(159, 61%, 0%);
    --warning: hsl(49, 95%, 53%);
    --warning-focus: hsl(49, 95%, 47.5%);
    --warning-subtle: hsl(49, 95%, 28%);
    --warning-subtle-content: hsl(49, 95%, 100%);
    --warning-content: hsl(49, 95%, 0%);
  }

  html[data-theme="zookeper"] {
    --base: hsl(37, 35%, 75%);
    --base-focus: hsl(37, 35%, 59%);
    --base-2: hsl(37, 35%, 71%);
    --base-2-focus: hsl(37, 35%, 67%);
    --base-content: hsl(37, 35%, 0%);
    --base-content-2: hsl(37, 35%, 11%);
    --base-content-3: hsl(37, 35%, 33%);
    --overlay: hsl(37, 35%, 68%);
    --overlay-focus: hsl(37, 35%, 50%);
    --overlay-2: hsl(37, 35%, 61%);
    --overlay-2-focus: hsl(37, 35%, 50%);
    --overlay-content: hsl(37, 35%, 0%);
    --overlay-content-2: hsl(37, 35%, 11%);
    --overlay-content-3: hsl(37, 35%, 22%);
    --line: hsl(37, 35%, 66.2%);
    --line-focus: hsl(37, 35%, 51.2%);
    --input: hsl(37, 35%, 78.3%);
    --input-focus: hsl(37, 35%, 78.3%);
    --input-content: hsl(37, 35%, 0%);
    --input-content-2: hsl(37, 35%, 22%);
    --primary: hsl(104, 20%, 32%);
    --primary-focus: hsl(104, 20%, 26.5%);
    --primary-subtle: hsl(104, 20%, 59.5%);
    --primary-content: hsl(104, 20%, 100%);
    --primary-content-inverse: hsl(104, 20%, 5%);
    --primary-subtle-content: hsl(104, 20%, 0%);
    --secondary: hsl(28, 99%, 29%);
    --secondary-focus: hsl(21, 81%, 29.5%);
    --secondary-subtle: hsl(21, 81%, 62.5%);
    --secondary-subtle-content: hsl(21, 81%, 0%);
    --secondary-content: hsl(21, 81%, 100%);
    --info: hsl(212, 50%, 40%);
    --info-focus: hsl(212, 50%, 34.5%);
    --info-subtle: hsl(212, 50%, 67.5%);
    --info-subtle-content: hsl(212, 50%, 0%);
    --info-content: hsl(212, 50%, 100%);
    --danger: hsl(0, 75%, 42%);
    --danger-focus: hsl(0, 75%, 36.5%);
    --danger-subtle: hsl(0, 75%, 69.5%);
    --danger-subtle-content: hsl(0, 75%, 0%);
    --danger-content: hsl(0, 75%, 100%);
    --success: hsl(159, 61%, 41%);
    --success-focus: hsl(159, 61%, 35.5%);
    --success-subtle: hsl(159, 61%, 16%);
    --success-subtle-content: hsl(159, 61%, 100%);
    --success-content: hsl(159, 61%, 0%);
    --warning: hsl(49, 95%, 53%);
    --warning-focus: hsl(49, 95%, 47.5%);
    --warning-subtle: hsl(49, 95%, 28%);
    --warning-subtle-content: hsl(49, 95%, 100%);
    --warning-content: hsl(49, 95%, 0%);
  }

  html[data-theme="gunmetal"] {
    --base: hsl(120, 2%, 10%);
    --base-focus: hsl(120, 2%, 27.6%);
    --base-2: hsl(120, 2%, 14.4%);
    --base-2-focus: hsl(120, 2%, 18.8%);
    --base-content: hsl(120, 2%, 100%);
    --base-content-2: hsl(120, 2%, 90%);
    --base-content-3: hsl(120, 2%, 70%);
    --overlay: hsl(120, 2%, 17.7%);
    --overlay-focus: hsl(120, 2%, 37.5%);
    --overlay-2: hsl(120, 2%, 25.4%);
    --overlay-2-focus: hsl(120, 2%, 37.5%);
    --overlay-content: hsl(120, 2%, 100%);
    --overlay-content-2: hsl(120, 2%, 90%);
    --overlay-content-3: hsl(120, 2%, 80%);
    --line: hsl(120, 2%, 1.2%);
    --line-focus: hsl(120, 2%, 17.7%);
    --input: hsl(120, 2%, 13.3%);
    --input-focus: hsl(120, 2%, 13.3%);
    --input-content: hsl(120, 2%, 100%);
    --input-content-2: hsl(120, 2%, 80%);
    --primary: hsl(180, 21%, 74%);
    --primary-focus: hsl(180, 21%, 68.5%);
    --primary-subtle: hsl(180, 21%, 100%);
    --primary-content: hsl(180, 21%, 0%);
    --primary-content-inverse: hsl(180, 21%, 100%);
    --primary-subtle-content: hsl(180, 21%, 5%);
    --secondary: hsl(0, 0%, 40%);
    --secondary-focus: hsl(0, 0%, 34.5%);
    --secondary-subtle: hsl(0, 0%, 67.5%);
    --secondary-subtle-content: hsl(0, 0%, 0%);
    --secondary-content: hsl(0, 0%, 100%);
    --info: hsl(212, 50%, 40%);
    --info-focus: hsl(212, 50%, 34.5%);
    --info-subtle: hsl(212, 50%, 67.5%);
    --info-subtle-content: hsl(212, 50%, 0%);
    --info-content: hsl(212, 50%, 100%);
    --danger: hsl(0, 75%, 42%);
    --danger-focus: hsl(0, 75%, 36.5%);
    --danger-subtle: hsl(0, 75%, 69.5%);
    --danger-subtle-content: hsl(0, 75%, 0%);
    --danger-content: hsl(0, 75%, 100%);
    --success: hsl(159, 61%, 41%);
    --success-focus: hsl(159, 61%, 35.5%);
    --success-subtle: hsl(159, 61%, 16%);
    --success-subtle-content: hsl(159, 61%, 100%);
    --success-content: hsl(159, 61%, 0%);
    --warning: hsl(49, 95%, 53%);
    --warning-focus: hsl(49, 95%, 47.5%);
    --warning-subtle: hsl(49, 95%, 28%);
    --warning-subtle-content: hsl(49, 95%, 100%);
    --warning-content: hsl(49, 95%, 0%);
  }

  html[data-theme="bubblegum"] {
    --base: hsl(180, 98%, 50%);
    --base-focus: hsl(180, 98%, 34%);
    --base-2: hsl(180, 98%, 46%);
    --base-2-focus: hsl(180, 98%, 42%);
    --base-content: hsl(180, 98%, 0%);
    --base-content-2: hsl(180, 98%, 11%);
    --base-content-3: hsl(180, 98%, 33%);
    --overlay: hsl(180, 98%, 43%);
    --overlay-focus: hsl(180, 98%, 25%);
    --overlay-2: hsl(180, 98%, 36%);
    --overlay-2-focus: hsl(180, 98%, 25%);
    --overlay-content: hsl(180, 98%, 0%);
    --overlay-content-2: hsl(180, 98%, 11%);
    --overlay-content-3: hsl(180, 98%, 22%);
    --line: hsl(180, 98%, 41.2%);
    --line-focus: hsl(180, 98%, 26.2%);
    --input: hsl(180, 98%, 53.3%);
    --input-focus: hsl(180, 98%, 53.3%);
    --input-content: hsl(180, 98%, 0%);
    --input-content-2: hsl(180, 98%, 22%);
    --primary: hsl(309, 100%, 61%);
    --primary-focus: hsl(309, 100%, 55.5%);
    --primary-subtle: hsl(309, 100%, 88.5%);
    --primary-content: hsl(309, 100%, 100%);
    --primary-subtle-content: hsl(309, 100%, 0%);
    --secondary: hsl(227, 88%, 50%);
    --secondary-focus: hsl(227, 88%, 44.5%);
    --secondary-subtle: hsl(227, 88%, 77.5%);
    --secondary-subtle-content: hsl(227, 88%, 0%);
    --secondary-content: hsl(227, 88%, 100%);
    --info: hsl(212, 50%, 40%);
    --info-focus: hsl(212, 50%, 34.5%);
    --info-subtle: hsl(212, 50%, 67.5%);
    --info-subtle-content: hsl(212, 50%, 0%);
    --info-content: hsl(212, 50%, 100%);
    --danger: hsl(0, 75%, 42%);
    --danger-focus: hsl(0, 75%, 36.5%);
    --danger-subtle: hsl(0, 75%, 69.5%);
    --danger-subtle-content: hsl(0, 75%, 0%);
    --danger-content: hsl(0, 75%, 100%);
    --success: hsl(159, 61%, 41%);
    --success-focus: hsl(159, 61%, 35.5%);
    --success-subtle: hsl(159, 61%, 16%);
    --success-subtle-content: hsl(159, 61%, 100%);
    --success-content: hsl(159, 61%, 0%);
    --warning: hsl(49, 95%, 53%);
    --warning-focus: hsl(49, 95%, 47.5%);
    --warning-subtle: hsl(49, 95%, 28%);
    --warning-subtle-content: hsl(49, 95%, 100%);
    --warning-content: hsl(49, 95%, 0%);
  }
}
@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
