@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="tresleches"] {
    --base: hsl(60, 20%, 98%);
    --base-2: hsl(54, 38%, 95%);
    --base-3: hsl(51, 59%, 93%);
    --base-content: hsl(0, 0%, 25%);
    --base-content-2: hsl(0, 0%, 45%);
    --base-content-3: hsl(0, 0%, 75%);
    --base-content-contrast: hsl(0, 0%, 100%);
    --overlay-1: hsl(60, 20%, 95%);
    --overlay-2: hsl(60, 5%, 96%);
    --overlay-3: hsl(49, 50%, 94%);
    --overlay-focus: hsl(49, 50%, 94%);
    --overlay-content-1: hsl(0, 0%, 25%);
    --overlay-content-2: hsl(0, 0%, 40%);
    --overlay-content-3: hsl(0, 0%, 60%);
    --overlay-content-contrast: hsl(0, 0%, 100%);
    --input: hsl(0, 0%, 100%);
    --input-content: hsl(0, 0%, 45%);
    --input-content-2: hsl(0, 0%, 30%);
    --line: hsl(51, 59%, 83%);
    --line-focus: hsl(51, 59%, 83%);
    --primary: hsl(0, 57%, 36%);
    --primary-focus: hsl(0, 68%, 28%);
    --primary-subtle: hsl(0, 27%, 76%);
    --primary-content: hsl(0, 0%, 100%);
    --primary-content-contrast: hsl(0, 0%, 0%);
    --secondary: hsl(210, 64%, 36%);
    --secondary-focus: hsl(210, 76%, 26%);
    --secondary-subtle: hsl(210, 41%, 73%);
    --secondary-content: hsl(0, 0%, 100%);
    --secondary-content-contrast: hsl(0, 0%, 0%);
    --info: hsl(212, 50%, 40%);
    --info-focus: hsl(212, 77%, 31%);
    --info-subtle: hsl(212, 75%, 75%);
    --info-content: hsl(0, 0%, 100%);
    --info-content-contrast: hsl(212, 98%, 16%);
    --success: hsl(159, 61%, 41%);
    --success-focus: hsl(159, 90%, 24%);
    --success-subtle: hsl(159, 42%, 72%);
    --success-content: hsl(0, 0%, 100%);
    --success-content-contrast: hsl(159, 76%, 16%);
    --error: hsl(0, 75%, 42%);
    --error-focus: hsl(354, 90%, 27%);
    --error-subtle: hsl(355, 80%, 81%);
    --error-content: hsl(0, 0%, 100%);
    --error-content-contrast: hsl(355, 93%, 17%);
    --warning: hsl(47, 95%, 55%);
    --warning-focus: hsl(47, 100%, 45%);
    --warning-subtle: hsl(48, 42%, 84%);
    --warning-content: hsl(0, 0%, 15%);
    --warning-content-contrast: hsl(0, 0%, 15%);
  }

  html[data-theme="zookeper"] {
    --base-1: #d6c5aa;
    --base-2: #c3b091;
    --base-3: #b09d7e;
    --base-content-1: hsl(99, 26%, 13%);
    --base-content-2: hsl(128, 37%, 15%);
    --base-content-3: hsl(128, 42%, 18%);
    --base-content-contrast: hsl(200, 100%, 95%);
    --overlay-1: #c8b28e;
    --overlay-2: #cab187;
    --overlay-3: #ae946b;
    --overlay-content-1: hsl(120, 25%, 14%);
    --overlay-content-2: hsl(116, 22%, 14%);
    --overlay-content-3: hsl(127, 48%, 25%);
    --overlay-content-contrast: hsl(220, 100%, 95%);
    --input: #ddccae;
    --input-content: #322d25;
    --line: #a4844d;
    --primary: hsl(104, 17%, 32%);
    --primary-focus: hsl(104, 17%, 32%);
    --primary-subtle: hsl(103, 6%, 45%);
    --primary-content: hsl(0, 0%, 100%);
    --primary-content-contrast: hsl(0, 0%, 0%);
    --secondary: hsl(25, 81%, 35%);
    --secondary-focus: hsl(25, 90%, 24%);
    --secondary-subtle: hsl(25, 50%, 53%);
    --secondary-content: hsl(280, 100%, 15%);
    --secondary-content-contrast: hsl(280, 100%, 95%);
    --info: hsl(212, 50%, 40%);
    --info-focus: hsl(212, 77%, 31%);
    --info-subtle: hsl(212, 75%, 75%);
    --info-content: hsl(0, 0%, 100%);
    --info-content-contrast: hsl(212, 98%, 16%);
    --success: hsl(159, 61%, 41%);
    --success-focus: hsl(159, 90%, 24%);
    --success-subtle: hsl(159, 42%, 72%);
    --success-content: hsl(0, 0%, 100%);
    --success-content-contrast: hsl(159, 76%, 16%);
    --error: hsl(0, 75%, 42%);
    --error-focus: hsl(354, 90%, 27%);
    --error-subtle: hsl(355, 80%, 81%);
    --error-content: hsl(0, 0%, 100%);
    --error-content-contrast: hsl(355, 93%, 17%);
    --warning: hsl(47, 95%, 55%);
    --warning-focus: hsl(47, 100%, 45%);
    --warning-subtle: hsl(48, 42%, 84%);
    --warning-content: hsl(0, 0%, 15%);
    --warning-content-contrast: hsl(0, 0%, 15%);
  }

  html[data-theme="gunmetal"] {
    /* primary */
    --base-1: hsl(0, 2%, 10%);
    --base-2: hsl(0, 0%, 21%);
    --base-3: hsl(180, 3%, 19%);
    --base-content-1: hsl(0, 0%, 100%);
    --base-content-2: hsl(195, 4%, 81%);
    --base-content-3: hsl(240, 1%, 58%);
    --base-content-contrast: hsl(0, 0%, 0%);
    --overlay-1: hsl(160, 3%, 20%);
    --overlay-2: hsl(60, 2%, 19%);
    --overlay-3: hsl(120, 1%, 19%);
    --overlay-content-1: hsl(0, 0%, 100%);
    --overlay-content-2: hsl(0, 0%, 40%);
    --overlay-content-3: hsl(0, 1%, 44%);
    --overlay-content-contrast: hsl(0, 0%, 100%);
    --input: hsl(0, 0%, 100%);
    --input-content: hsl(0, 0%, 45%);
    --line: hsl(0, 0%, 51%);
    --primary: hsl(0, 0%, 67%);
    --primary-focus: hsl(210, 2%, 44%);
    --primary-subtle: hsl(0, 4%, 22%);
    --primary-content: hsl(0, 0%, 0%);
    --primary-content-contrast: hsl(0, 0%, 89%);
    --secondary: hsl(210, 64%, 36%);
    --secondary-focus: hsl(210, 76%, 26%);
    --secondary-subtle: hsl(210, 41%, 73%);
    --secondary-content: hsl(0, 0%, 100%);
    --secondary-content-contrast: hsl(0, 0%, 0%);
    --info: hsl(212, 50%, 40%);
    --info-focus: hsl(212, 77%, 31%);
    --info-subtle: hsl(212, 75%, 75%);
    --info-content: hsl(0, 0%, 100%);
    --info-content-contrast: hsl(212, 98%, 16%);
    --success: hsl(159, 61%, 41%);
    --success-focus: hsl(159, 90%, 24%);
    --success-subtle: hsl(159, 42%, 72%);
    --success-content: hsl(0, 0%, 100%);
    --success-content-contrast: hsl(159, 76%, 16%);
    --error: hsl(0, 75%, 42%);
    --error-focus: hsl(354, 90%, 27%);
    --error-subtle: hsl(355, 80%, 81%);
    --error-content: hsl(0, 0%, 100%);
    --error-content-contrast: hsl(355, 93%, 17%);
    --warning: hsl(47, 95%, 55%);
    --warning-focus: hsl(47, 100%, 45%);
    --warning-subtle: hsl(48, 42%, 84%);
    --warning-content: hsl(0, 0%, 15%);
    --warning-content-contrast: hsl(0, 0%, 15%);
  }

  html[data-theme="custom-theme"] {
    --base-1: hsl(0, 2%, 12%);
    --base-2: hsl(0, 2%, 16%);
    --base-3: hsl(0, 2%, 28%);
    --base-content-1: hsl(0, 2%, 100%);
    --base-content-2: hsl(0, 2%, 90%);
    --base-content-3: hsl(0, 2%, 70%);
    --base-content-contrast: hsl(0, 2%, 10%);
    --overlay-1: hsl(0, 2%, 19%);
    --overlay-2: hsl(0, 2%, 26%);
    --overlay-3: hsl(0, 2%, 37%);
    --overlay-focus: hsl(292, 91%, 50%);
    --overlay-content-1: hsl(0, 2%, 100%);
    --overlay-content-2: hsl(0, 2%, 90%);
    --overlay-content-3: hsl(0, 2%, 80%);
    --overlay-content-contrast: hsl(0, 0%, 100%);
    --input: hsl(0, 2%, 15%);
    --input-content-1: hsl(0, 2%, 100%);
    --input-content-2: hsl(0, 2%, 80%);
    --line: hsl(0, 2%, 0%);
    --line-focus: hsl(0, 2%, 15%);
    --primary: hsl(292, 91%, 50%);
    --primary-focus: hsl(292, 91%, 45%);
    --primary-subtle: hsl(292, 91%, 75%);
    --primary-content: hsl(292, 91%, 100%);
    --primary-content-contrast: hsl(292, 91%, 5%);
    --secondary: hsl(119, 82%, 53%);
    --secondary-focus: hsl(119, 82%, 48%);
    --secondary-subtle: hsl(119, 82%, 78%);
    --secondary-content: hsl(119, 82%, 0%);
    --secondary-content-contrast: hsl(119, 82%, 95%);
    --info: hsl(212, 50%, 40%);
    --info-focus: hsl(212, 50%, 35%);
    --info-subtle: hsl(212, 50%, 65%);
    --info-content: hsl(212, 50%, 100%);
    --info-content-contrast: hsl(212, 50%, 5%);
    --success: hsl(159, 61%, 41%);
    --success-focus: hsl(159, 61%, 36%);
    --success-subtle: hsl(159, 61%, 16%);
    --success-content: hsl(159, 61%, 0%);
    --success-content-contrast: hsl(159, 61%, 95%);
    --error: hsl(0, 75%, 42%);
    --error-focus: hsl(0, 75%, 37%);
    --error-subtle: hsl(0, 75%, 67%);
    --error-content: hsl(0, 75%, 100%);
    --error-content-contrast: hsl(0, 75%, 5%);
    --warning: hsl(47, 95%, 55%);
    --warning-focus: hsl(47, 95%, 50%);
    --warning-subtle: hsl(47, 95%, 30%);
    --warning-content: hsl(47, 95%, 0%);
    --warning-content-contrast: hsl(47, 95%, 95%);
  }
}
@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
