@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="chimera"] {
    --base: hsl(0, 0%, 98%);
    --base-focus: hsl(0, 0%, 82%);
    --base-2: hsl(0, 0%, 94%);
    --base-2-focus: hsl(0, 0%, 90%);
    --base-content: hsl(0, 0%, 10%);
    --base-content-2: hsl(0, 0%, 21%);
    --base-content-3: hsl(0, 0%, 43%);
    --base-content-inverse: hsl(0, 0%, 43%);
    --overlay: hsl(0, 0%, 91%);
    --overlay-focus: hsl(0, 0%, 73%);
    --overlay-2: hsl(0, 0%, 84%);
    --overlay-2-focus: hsl(0, 0%, 73%);
    --overlay-content: hsl(0, 0%, 10%);
    --overlay-content-2: hsl(0, 0%, 21%);
    --overlay-content-3: hsl(0, 0%, 32%);
    --overlay-content-inverse: hsl(0, 0%, 100%);
    --line: hsl(0, 0%, 89.2%);
    --line-focus: hsl(0, 0%, 74.2%);
    --input: hsl(0, 0%, 100%);
    --input-focus: hsl(0, 0%, 100%);
    --input-content: hsl(0, 0%, 15%);
    --input-content-2: hsl(0, 0%, 37%);
    --primary: hsl(0, 60%, 36%);
    --primary-focus: hsl(0, 60%, 30.5%);
    --primary-subtle: hsl(0, 60%, 63.5%);
    --primary-content: hsl(0, 60%, 100%);
    --primary-content-inverse: hsl(0, 60%, 5%);
    --primary-subtle-content: hsl(0, 60%, 0%);
    --secondary: hsl(210, 63%, 36%);
    --secondary-focus: hsl(210, 63%, 30.5%);
    --secondary-subtle: hsl(210, 63%, 63.5%);
    --secondary-subtle-content: hsl(210, 63%, 0%);
    --secondary-content: hsl(210, 63%, 100%);
    --secondary-content-inverse: hsl(210, 63%, 5%);
    --info: hsl(188, 78%, 41%);
    --info-focus: hsl(188, 78%, 35.5%);
    --info-subtle: hsl(188, 78%, 16%);
    --info-subtle-content: hsl(188, 78%, 100%);
    --info-content: hsl(188, 78%, 0%);
    --info-content-inverse: hsl(188, 78%, 100%);
    --danger: hsl(354, 70%, 54%);
    --danger-focus: hsl(354, 70%, 48.5%);
    --danger-subtle: hsl(354, 70%, 81.5%);
    --danger-subtle-content: hsl(354, 70%, 0%);
    --danger-content: hsl(354, 70%, 100%);
    --danger-content-inverse: hsl(354, 70%, 5%);
    --success: hsl(134, 61%, 41%);
    --success-focus: hsl(134, 61%, 35.5%);
    --success-subtle: hsl(134, 61%, 16%);
    --success-subtle-content: hsl(134, 61%, 100%);
    --success-content: hsl(134, 61%, 0%);
    --success-content-inverse: hsl(134, 61%, 100%);
    --warning: hsl(45, 100%, 51%);
    --warning-focus: hsl(45, 100%, 45.5%);
    --warning-subtle: hsl(45, 100%, 26%);
    --warning-subtle-content: hsl(45, 100%, 100%);
    --warning-content: hsl(45, 100%, 0%);
    --warning-content-inverse: hsl(45, 100%, 100%);
  }

  html[data-theme="zookeper"] {
    --base: hsl(37, 35%, 75%);
    --base-focus: hsl(37, 35%, 59%);
    --base-2: hsl(37, 35%, 71%);
    --base-2-focus: hsl(37, 35%, 67%);
    --base-content: hsl(37, 35%, 0%);
    --base-content-2: hsl(37, 35%, 11%);
    --base-content-3: hsl(37, 35%, 33%);
    --overlay: hsl(37, 35%, 68%);
    --overlay-focus: hsl(37, 35%, 50%);
    --overlay-2: hsl(37, 35%, 61%);
    --overlay-2-focus: hsl(37, 35%, 50%);
    --overlay-content: hsl(37, 35%, 0%);
    --overlay-content-2: hsl(37, 35%, 11%);
    --overlay-content-3: hsl(37, 35%, 22%);
    --line: hsl(37, 35%, 66.2%);
    --line-focus: hsl(37, 35%, 51.2%);
    --input: hsl(37, 35%, 78.3%);
    --input-focus: hsl(37, 35%, 78.3%);
    --input-content: hsl(37, 35%, 0%);
    --input-content-2: hsl(37, 35%, 22%);
    --primary: hsl(104, 20%, 32%);
    --primary-focus: hsl(104, 20%, 26.5%);
    --primary-subtle: hsl(104, 20%, 59.5%);
    --primary-content: hsl(104, 20%, 100%);
    --primary-content-inverse: hsl(104, 20%, 5%);
    --primary-subtle-content: hsl(104, 20%, 0%);
    --secondary: hsl(28, 99%, 29%);
    --secondary-focus: hsl(21, 81%, 29.5%);
    --secondary-subtle: hsl(21, 81%, 62.5%);
    --secondary-subtle-content: hsl(21, 81%, 0%);
    --secondary-content: hsl(21, 81%, 100%);
    --info: hsl(212, 50%, 40%);
    --info-focus: hsl(212, 50%, 34.5%);
    --info-subtle: hsl(212, 50%, 67.5%);
    --info-subtle-content: hsl(212, 50%, 0%);
    --info-content: hsl(212, 50%, 100%);
    --danger: hsl(0, 75%, 42%);
    --danger-focus: hsl(0, 75%, 36.5%);
    --danger-subtle: hsl(0, 75%, 69.5%);
    --danger-subtle-content: hsl(0, 75%, 0%);
    --danger-content: hsl(0, 75%, 100%);
    --success: hsl(159, 61%, 41%);
    --success-focus: hsl(159, 61%, 35.5%);
    --success-subtle: hsl(159, 61%, 16%);
    --success-subtle-content: hsl(159, 61%, 100%);
    --success-content: hsl(159, 61%, 0%);
    --warning: hsl(49, 95%, 53%);
    --warning-focus: hsl(49, 95%, 47.5%);
    --warning-subtle: hsl(49, 95%, 28%);
    --warning-subtle-content: hsl(49, 95%, 100%);
    --warning-content: hsl(49, 95%, 0%);
  }

  html[data-theme="gunmetal"] {
    --base: hsl(120, 2%, 10%);
    --base-focus: hsl(120, 2%, 27.6%);
    --base-2: hsl(120, 2%, 14.4%);
    --base-2-focus: hsl(120, 2%, 18.8%);
    --base-content: hsl(120, 2%, 100%);
    --base-content-2: hsl(120, 2%, 90%);
    --base-content-3: hsl(120, 2%, 70%);
    --overlay: hsl(120, 2%, 17.7%);
    --overlay-focus: hsl(120, 2%, 37.5%);
    --overlay-2: hsl(120, 2%, 25.4%);
    --overlay-2-focus: hsl(120, 2%, 37.5%);
    --overlay-content: hsl(120, 2%, 100%);
    --overlay-content-2: hsl(120, 2%, 90%);
    --overlay-content-3: hsl(120, 2%, 80%);
    --line: hsl(120, 2%, 1.2%);
    --line-focus: hsl(120, 2%, 17.7%);
    --input: hsl(120, 2%, 13.3%);
    --input-focus: hsl(120, 2%, 13.3%);
    --input-content: hsl(120, 2%, 100%);
    --input-content-2: hsl(120, 2%, 80%);
    --primary: hsl(180, 21%, 74%);
    --primary-focus: hsl(180, 21%, 68.5%);
    --primary-subtle: hsl(180, 21%, 100%);
    --primary-content: hsl(180, 21%, 0%);
    --primary-content-inverse: hsl(180, 21%, 100%);
    --primary-subtle-content: hsl(180, 21%, 5%);
    --secondary: hsl(0, 0%, 40%);
    --secondary-focus: hsl(0, 0%, 34.5%);
    --secondary-subtle: hsl(0, 0%, 67.5%);
    --secondary-subtle-content: hsl(0, 0%, 0%);
    --secondary-content: hsl(0, 0%, 100%);
    --info: hsl(212, 50%, 40%);
    --info-focus: hsl(212, 50%, 34.5%);
    --info-subtle: hsl(212, 50%, 67.5%);
    --info-subtle-content: hsl(212, 50%, 0%);
    --info-content: hsl(212, 50%, 100%);
    --danger: hsl(0, 75%, 42%);
    --danger-focus: hsl(0, 75%, 36.5%);
    --danger-subtle: hsl(0, 75%, 69.5%);
    --danger-subtle-content: hsl(0, 75%, 0%);
    --danger-content: hsl(0, 75%, 100%);
    --success: hsl(159, 61%, 41%);
    --success-focus: hsl(159, 61%, 35.5%);
    --success-subtle: hsl(159, 61%, 16%);
    --success-subtle-content: hsl(159, 61%, 100%);
    --success-content: hsl(159, 61%, 0%);
    --warning: hsl(49, 95%, 53%);
    --warning-focus: hsl(49, 95%, 47.5%);
    --warning-subtle: hsl(49, 95%, 28%);
    --warning-subtle-content: hsl(49, 95%, 100%);
    --warning-content: hsl(49, 95%, 0%);
  }
}
@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
